.container {
    position: relative;
    display : flex;
    width : 100%;
    height : 100%;
    background-color : #eee;
}

.overlay {
    position : absolute;
    bottom : 0;
    right : 0;
}

.navbar {
    width : 80px;
    background-color : var(--blue);
}

.content-body {
    display : flex;
    justify-content : start;
    align-items : center;
    flex-grow: 1;
    padding: 50px;
    font-size: 2rem;
    color : white;
    background-color : #000;
}
